---
// const header = Astro.props.header;
// const text = Astro.props.text;
const {header, soldOut } = Astro.props;
---

<article class="card">
    <h2>{header}</h2>
    {soldOut && <p>UDSOLGT!</p>}
    <p>lille mini bitte tekst</p>
    <slot />

</article>

<style>
    p{
        color: aqua
    }
    .card{
        background-color: green;
    }
</style>